
<div class="container">
    <%- include('../partials/message.ejs') %>
    <form action="/blogs/new" method="post">
  <%# Section: Create Page %>
  <section class="my-5">

    <%# Grid row %>
    <div class="row">

      <%# Grid column %>
      <div class="col-lg-8">

        <%# post title card %>
        <div class="card mb-4 post-title-panel">
          <div class="card-body">
            <div class="md-form mt-1 mb-0">
              <input type="text" id="form1" class="form-control" name= "title" value="<%= typeof title != 'undefined' ? title : '' %>">
              <label class="form-check-label" for="form1" class="">Post title</label>
            </div>
          </div>
        </div>
        <%# post title card %>

        <%# excerpt Card %>
        <div class="card mb-4">
         <div class="card-body">
           <div class="md-form mb-0 mt-2">
             <textarea name="excerpt" type="text" id="form7" class="md-textarea form-control" rows="3"><%= typeof excerpt != 'undefined' ? excerpt : '' %></textarea>
             <label class="form-check-label" for="form7">Excerpt</label>
           </div>
         </div>
       </div>
       <%# excerpt Card %>

        <%# post content card %>
        <div class="card mb-4">
          <textarea name="post" id="post_content"><%= typeof post != 'undefined' ? post : '' %></textarea>
        </div>
        <%# post content card %>

      </div>
      <%# Grid column %>

      <%# Grid column %>
      <div class="col-lg-4">

        <%# Card %>
        <div class="card card-cascade narrower mb-5">

          <%# Card image %>
          <div class="view view-cascade gradient-card-header blue-gradient">
            <h4 class="font-weight-500 mb-0">Publish</h4>
          </div>
          <%# Card image %>

          <%# Card content %>
          <div class="card-body card-body-cascade">

            <p><i class="fas fa-flag mr-1" aria-hidden="true"></i> Status: <strong>Draft</strong></p>
            <p><i class="far fa-eye mr-1" aria-hidden="true"></i> Visibility: <strong>Public</strong></p>
           
            <p><i class="far fa-calendar-alt mr-1" aria-hidden="true"></i> Publish: <strong>Immediately</strong></p>
            <div class="text-right">
              <%# <button class="btn btn-flat waves-effect">Discard</button> %>
              <button type="submit" class="btn btn-primary">Publish</button>
            </div>

          </div>
          <%# Card content %>

        </div>
        <%# Card %>
        
        <%# Card %>
        <div class="card card-cascade narrower">

          <%# Card image %>
          <div class="view view-cascade gradient-card-header blue-gradient">
            <h4 class="font-weight-500 mb-0">Categories</h4>
          </div>
          <%# Card image %>

          <%# Card content %>
          <div class="col-lg-4 col-md-6 mb-4 card-body card-body-cascade">
<% categories.forEach(category => { %>
            <fieldset class="form-check mb-4">
              <input class="form-check-input" value="<%= typeof category.title != 'undefined' ? category.title : '' %>" name="category" type="radio" id="<%= category._id %>" >
              <label class="form-check-label" for="<%= category._id %>"><%= category.title %> </label>
            </fieldset>
<% }) %>
           
          </div>
         
          <%# Card content %>

        </div>
        <%# Card %>

      </div>
      <%# Grid column %>

    </div>
    <%# Grid row %>

  </section>
  <%# Section: Create Page %>

</form>
</div>
<%- contentFor('title') %> 
  Add new blog
