<body>
    <main class="pt-4">
      <%# Intro %>
      <h1 class="text-center dark-grey-text pb-3 mt-5 pt-5 font-weight-bold">
        <strong>SCHOLARSHIP NEWS</strong>
      </h1>
      <p class="grey-text text-center mb-4 text-uppercase spacing">Welcome to Scholarship news</p>
    
      <%# Grid row %>
      <div class="flex-center page-content">
    
        <p class="grey-text text-center mb-5 mx-3">
          <em>"some texts here."</em>
        </p>
    
      </div>
      <%# Grid row %>
    
      <%# Intro %>
    
      <%# NEWS %>
      <section>
    
        <div class="container-fluid grey lighten-3 pb-5">
          <%- include('../../partials/message.ejs') %>
          <hr class="pb-5">
    
          <div class="container">
    
            <div class="card px-4 px-lg-5">
    
              <div class="row pt-5">
    
                <%# Main listing %>
                <div class="col-lg-12 justify-content-center col-12 mt-1">
    
                  <%# Section: Classic blog listing %>
                  <section class="section classic-blog-listing">
    
                    <% scholarshipnews.forEach((scholarshipnews)=>{ %>
                    <%# Grid row STARTS EWS %>
                    <div class="row mb-4">

                      <%# Grid column %>
                      <div class="col-md-12 my-3">
                        <%# Card %>
                        <div class="card">
    
                          <%# Card image %>
                          <%# <div class="view overlay">
                            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(29).jpg" class="card-img-top" alt="">
                            <a>
                              <div class="mask rgba-white-slight waves-effect waves-light"></div>
                            </a>
                          </div> %>
                          <%# Card image %>
    
                          <%# Card content %>
                          <div class="card-body mx-4">
                            <%# Title %>
                            <h4 class="card-title">
                              <strong><%= scholarshipnews.title %></strong>
                            </h4>
                            <hr>
                            <%# Text %>
                            <p class="dark-grey-text mb-3"><%= scholarshipnews.excerpt %>
                            </p>
    
                            <p class="font-small font-weight-bold blue-grey-text mb-1">
                              <i class="far fa-clock"></i> <%= scholarshipnews.created.toDateString() %>               <a href="#!" class="dark-grey-text">
                                <i class="far fa-comments pr-2 pl-3"></i><%= scholarshipnews.comments.length %></a></p>
                            <p class="font-small dark-grey-text mb-0 font-weight-bold"><%= scholarshipnews.author %></p>
                            <p class="text-right mb-0 text-uppercase dark-grey-text font-weight-bold">
                              <%let modifiedPost = scholarshipnews._id%>
                              <a href="/news/scholarship/<%= modifiedPost %>">read more
                                <i class="fas fa-chevron-right" aria-hidden="true"></i>
                              </a>
  
                            </p>
                          </div>
                          <%# Card content %>
    
                        </div>
                        <%# Card %>
    
                      </div>
                      <%# Grid column %>
    
                    </div>
                    <%# Grid row %>
                    <%})%>
                  </section>
                   <%# Section: Classic blog listing %>
              <%const array_chunks = (array, chunk_size) => Array(Math.ceil(array.length / chunk_size)).fill().map((_, index) => index * chunk_size).map(begin => array.slice(begin, begin + chunk_size)); %>
              <% let news_chunks = array_chunks(allnews, limit) %> 
              <%# Pagination dark grey %>

              <nav class="mb-5 pb-2">
                <ul class="pagination pg-dark flex-center">
                  <%# Arrow left %>
                  <li class="page-item">
                    <a  href="?page=<%=  parseInt(page) - 1%>" class="page-link waves-effect waves-effect <%= page == 1? "disabled" : '' %> " aria-label="Previous">
                      <span aria-hidden="true">«</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>

                  <%# Numbers %>
                  <% news_chunks .forEach((post,i) =>{ %> 
                    <%# Numbers %>
                    <li class="page-item <%= page == i+1 ? "active" : '' %> ">
                      <a href="?page=<%= i +1%>"  class="page-link waves-effect waves-effect"><%= i +1%></a>
                    </li>
                <% post_n = i  %>
                    <%})%>
          
                  <%# Arrow right %>
                  <li class="page-item">
                    <a href="?page=<%=  parseInt(page)+ 1%>" class="page-link waves-effect waves-effect <%= page == news_chunks.length ? 'disabled' : ''  %>" aria-label="Next">
                      <span aria-hidden="true">»</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
              <%# Pagination dark grey %>

            </div>
            <%# Main listing %>
    
              </div>
            </div>
    
          </div>
    
        </div>
    
      </section>
      <%# Blog %>
    
    </main>
    
    
    
       <% if(User){ %>
       <%     if(User.userType == "admin"){ %>
        <a href="/news/scholarship/new" class="btn btn-primary">Add new post</a>
      
       <%     } %>
       <% }%>
    </div>
    </body>