       <section>
        <%- include('./partials/message.ejs') %>
        <%# NEW EXECUTIVES  %> 
        <a class="btn btn-primary"  data-toggle="modal" data-target="#newExecutive">Add new executive</a>
          <%#  MODAL %>
          <div class="modal fade" id="newExecutive" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              
              <form class="modal-content" action="/executives/new" method="POST">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalScrollableTitle">Add student</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                 
              <div>
                <%# portfolio %> 
                <div class="input-group pb-1">
                  <div class="input-group-prepend">
                      <span class="input-group-text ">Portfolio</span>
                  </div>
                  <select name="portfolio" class="form-control">
                    <% portfolios.forEach(portfolio => { %>
                      <option value="<%= portfolio.title %> "><%= portfolio.title %> </option>
                    <% }) %>
                  </select>
              </div>
                <%# portfolio %> 
                <%# name %> 
                <div class="input-group pb-1">
                  <div class="input-group-prepend">
                      <span class="input-group-text ">Name</span>
                  </div>
                 <input type="text" name="name" class="form-control" value="<%= typeof name != 'undefined' ? name : '' %>">
              </div>
                <%# name %> 
                <%# level %> 
                <div class="input-group pb-1">
                  <div class="input-group-prepend">
                      <span class="input-group-text ">Level</span>
                  </div>
                  <select name="level" class="form-control">
                   
                      <option value="100 ">100 </option>
                      <option value="200 ">200 </option>
                      <option value="300 ">300 </option>
                      <option value="400 ">400 </option>
                      <option value="500 ">500 </option>
                      <option value="600 ">600 </option>
                      <option value="700 ">700 </option>
                  
                  </select>
              </div>
                <%# level %> 
                <%# phone number %> 
                <div class="input-group pb-1">
                  <div class="input-group-prepend">
                      <span class="input-group-text ">Phone Number</span>
                  </div>
                  <input type="tel" name="phoneNumber" class="form-control" value="<%= typeof phoneNumber != 'undefined' ? phoneNumber : '' %>">
              </div>
                <%# phone number %> 
                <%# Hall %> 
                <div class="input-group pb-1">
                  <div class="input-group-prepend">
                      <span class="input-group-text ">Hall</span>
                  </div>
                  <select name="hall" class="form-control">
                    <% portfolios.forEach(portfolio => { %>
                      <option value="<%= portfolio.title %> "><%= portfolio.title %> </option>
                    <% }) %>
                  </select>
              </div>
                <%# Hall %> 
                <%# Department %> 
                <div class="input-group pb-1">
                  <div class="input-group-prepend">
                      <span class="input-group-text ">Department</span>
                  </div>
                  <input type="text" name="department" class="form-control" value="<%= typeof department != 'undefined' ? department : '' %>">
              </div>
                <%# Department %> 
                <%# Admission %> 
                <div class="input-group pb-1">
                  <div class="input-group-prepend">
                      <span class="input-group-text ">Admission Year</span>
                  </div>
                  <input type="date" name="yearOfAdmission" class="form-control" value="<%= typeof yearOfAdmission != 'undefined' ? yearOfAdmission : '' %>">
                 
              </div>
                <%# Admission %> 
                <%# Graduation %> 
                <div class="input-group pb-1">
                  <div class="input-group-prepend">
                      <span class="input-group-text ">Graduation Year</span>
                  </div>
                  <input type="date" name="yearOfGraduation" class="form-control" value="<%= typeof yearOfGraduation != 'undefined' ? yearOfGraduation : '' %>">
              </div>
                <%# Graduation %> 
                <%# Country %> 
                <div class="input-group pb-1">
                  <div class="input-group-prepend">
                      <span class="input-group-text ">Country</span>
                  </div>
                  <select name="country" class="form-control">
                    <% portfolios.forEach(portfolio => { %>
                      <option value="<%= portfolio.title %> "><%= portfolio.title %> </option>
                    <% }) %>
                  </select>
              </div>
                <%# Country %> 
                <%# session %> 
                <div class="input-group pb-1">
                  <div class="input-group-prepend">
                      <span class="input-group-text ">Regime</span>
                  </div>
                  <select name="regime" class="form-control">
                    <% regimes.forEach(regime => { %>
                      <option value="<%= regime.year %> "><%= regime.year %> A.H </option>
                    <% }) %>
                  </select>
              </div>
                <%# session %> 
                
                  <span class="text-danger p-3 error" id="first" style="font-style: italic;"></span>
              </div>
             
              <div>
                 
              </div>
              </div>
                <div class="modal-footer">
                  
                  <button type="submit" class="btn btn-primary btn-md mb-3" id="loginBtn">Save</button>   
                </div>
              </form>
            </div>
          </div>
           <%# MODAL %>
           
        <%# NEW EXECUTIVES   %> 

        <%# REGIME TABLE %> 
        <div class=" accordion md-accordion "  id="accordionEx" role="tablist" aria-multiselectable="true">
        <% regimes.forEach(regime => { %>
           
      <div class="card card-cascade narrower z-depth-1 mb-5 mt-5">
          <%# Card image %>
          <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
            <div>
            
            </div>
            <a data-toggle="collapse" href="#collapse<%= regime._id %>" aria-expanded="false" aria-controls="collapse6" class="white-text mx-3 collapsed"><%= regime.year %>  A.H
              <i class="fas p-2 fa-angle-up rotate-icon"></i>
            </a>
            <div>
            
            </div>

          </div>
          
           
        

          <%# /Card image %>

          <div class="px-4 collapse" id="collapse<%= regime._id %>"  role="tabpanel" aria-labelledby="heading6" data-parent="#accordionEx">

            <div class="table-responsive">
              <%# Table %>
              <table class="table table-hover mb-0">

                <%# Table head %>
                <thead  style="border-bottom: 5px grey solid">
                  <tr>
                    <th class="th-sm">Portfolio
                    </th>
                      <th class="th-sm">Name
                      </th>
                      <th class="th-sm">Department
                    </th>
                      <th class="th-sm">Level
                      </th>
                      <th class="th-sm">Hall
                      </th>
                      <th class="th-sm">Phone Number
                      </th>
                      <th class="th-sm">Year of admission
                      </th>
                      <th class="th-sm">Year of graduation
                      </th>
                      <th class="th-sm">Country of residence
                      </th>
                    
                  </tr>
                </thead>
                <%# Table head %>
          
                <%# Table body %>
                <tbody>
                
                 
                  <% executives.forEach(executive => { %>
                    <% if (executive.regime.trim() == regime.year) { %> 
                      
                  <tr>
                    				 
                    <td><%= executive.portfolio %>  </td>
                    <td><%= executive.name %> </td>
                    <td><%= executive.department %> </td>
                    <td><%= executive.level %> </td>
                    <td><%= executive.hall %> </td>
                    <td><%= executive.phoneNumber %> </td>
                    <td><%= executive.yearOfAdmission %> </td>
                    <td><%= executive.yearOfGraduation %> </td>
                    <td><%= executive.country %> </td>
                  </tr>
                  <% } %>
                <% }) %>

                  <tfoot style="border-top: 5px grey solid">
                    <th class="th-sm">Portfolio
                    </th>
                      <th class="th-sm">Name
                      </th>
                      <th class="th-sm">Department
                    </th>
                      <th class="th-sm">Level
                      </th>
                      <th class="th-sm">Hall
                      </th>
                      <th class="th-sm">Phone Number
                      </th>
                      <th class="th-sm">Year of admission
                      </th>
                      <th class="th-sm">Year of graduation
                      </th>
                      <th class="th-sm">Country of residence
                      </th>
                  </tfoot>
                </tbody>
                <%# Table body %>
              </table>
              <%# Table %>
            </div>

            <hr class="my-0">


          </div>
        </div>
          <% }) %>
        </div>
        <%# REGIME TABLE %> 
      </section>
