       <section>
        <%- include('./partials/message.ejs') %>
        <%# NEW REGIME MODAL%>
        <a  class="btn btn-primary"  data-toggle="modal" data-target="#newRegime">Add new regime</a>
        <div class="modal fade" id="newRegime" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            
            <form class="modal-content" action="/regime/new" method="POST">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">NEW REGIME</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
               
            <div>
                <div class="input-group pb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text "><i class="fa fa-clock"></i></span>
                    </div>
                  <input type="text" name="year" id="regime" placeholder="REGIME" class="form-control"> 
                </div>
                <span class="text-danger p-3 error" id="first" style="font-style: italic;"></span>
            </div>
            <div>
               
            </div>
            </div>
              <div class="modal-footer">
                
                <button type="submit" class="btn btn-primary btn-md mb-3" id="loginBtn">Save</button>   
              </div>
            </form>
          </div>
        </div> 
        <%# NEW REGIME MODAL %> 
        
        <%# NEW EXECUTIVES  %> 
        <a href="/executives/new" class="btn btn-primary"  data-toggle="modal" data-target="#newExecutive">Add new executive</a>

          <%#  MODAL %>
          <div class="modal fade" id="newExecutive" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              
              <form class="modal-content" action="/login" method="POST">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalScrollableTitle">Add student</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                 
              <div>
                <%# portfolio %> 
                <div class="input-group pb-1">
                  <div class="input-group-prepend">
                      <span class="input-group-text ">Portfolio</span>
                  </div>
                  <select name="Portfolio" class="form-control">
                    <% portfolios.forEach(portfolio => { %>
                      <option value="<%= portfolio.title %> "><%= portfolio.title %> </option>
                    <% }) %>
                  </select>
              </div>
                <%# portfolio %> 
                <%# name %> 
                <div class="input-group pb-1">
                  <div class="input-group-prepend">
                      <span class="input-group-text ">Name</span>
                  </div>
                 <input type="text" name="name" class="form-control">
              </div>
                <%# name %> 
                <%# level %> 
                <div class="input-group pb-1">
                  <div class="input-group-prepend">
                      <span class="input-group-text ">Level</span>
                  </div>
                  <select name="level" class="form-control">
                   
                      <option value="100 ">100 </option>
                      <option value="200 ">200 </option>
                      <option value="300 ">300 </option>
                      <option value="400 ">400 </option>
                      <option value="500 ">500 </option>
                      <option value="600 ">600 </option>
                      <option value="700 ">700 </option>
                  
                  </select>
              </div>
                <%# level %> 
                <%# phone number %> 
                <div class="input-group pb-1">
                  <div class="input-group-prepend">
                      <span class="input-group-text ">Phone Number</span>
                  </div>
                  <input type="tel" name="phoneNumber" class="form-control">
              </div>
                <%# phone number %> 
                <%# Hall %> 
                <div class="input-group pb-1">
                  <div class="input-group-prepend">
                      <span class="input-group-text ">Hall</span>
                  </div>
                  <select name="Portfolio" class="form-control">
                    <% portfolios.forEach(portfolio => { %>
                      <option value="<%= portfolio.title %> "><%= portfolio.title %> </option>
                    <% }) %>
                  </select>
              </div>
                <%# Hall %> 
                <%# Department %> 
                <div class="input-group pb-1">
                  <div class="input-group-prepend">
                      <span class="input-group-text ">Department</span>
                  </div>
                  <input type="text" name="department" class="form-control">
              </div>
                <%# Department %> 
                <%# Admission %> 
                <div class="input-group pb-1">
                  <div class="input-group-prepend">
                      <span class="input-group-text ">Admission Year</span>
                  </div>
                  <input type="date" name="yearOfAdmission" class="form-control">
                 
              </div>
                <%# Admission %> 
                <%# Graduation %> 
                <div class="input-group pb-1">
                  <div class="input-group-prepend">
                      <span class="input-group-text ">Graduation Year</span>
                  </div>
                  <input type="date" name="YearOfGraduation" class="form-control">
              </div>
                <%# Graduation %> 
                <%# Country %> 
                <div class="input-group pb-1">
                  <div class="input-group-prepend">
                      <span class="input-group-text ">Country</span>
                  </div>
                  <select name="country" class="form-control">
                    <% portfolios.forEach(portfolio => { %>
                      <option value="<%= portfolio.title %> "><%= portfolio.title %> </option>
                    <% }) %>
                  </select>
              </div>
                <%# Country %> 
                <%# session %> 
                <div class="input-group pb-1">
                  <div class="input-group-prepend">
                      <span class="input-group-text ">Regime</span>
                  </div>
                  <select name="regime" class="form-control">
                    <% regimes.forEach(regime => { %>
                      <option value="<%= regime.year %> "><%= regime.year %> A.H </option>
                    <% }) %>
                  </select>
              </div>
                <%# session %> 
                
                  <span class="text-danger p-3 error" id="first" style="font-style: italic;"></span>
              </div>
             
              <div>
                 
              </div>
              </div>
                <div class="modal-footer">
                  
                  <button type="submit" class="btn btn-primary btn-md mb-3" id="loginBtn">Save</button>   
                </div>
              </form>
            </div>
          </div>
           <%# MODAL %>
        <%# NEW EXECUTIVES   %> 

        <%# REGIME TABLE %> 
        <div class="c accordion md-accordion "  id="accordionEx" role="tablist" aria-multiselectable="true">
        <% regimes.forEach(regime => { %>
           <%# EDIT REGIME MODAL %>
           <div class="modal fade black-text" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <form class="modal-content" action="/regime/<%= regime.year %>?_method=PUT" method="POST">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalScrollableTitle">EDIT REGIME</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">           
              <div>
                  <div class="input-group pb-1">
                      <div class="input-group-prepend">
                          <span class="input-group-text "><i class="fa fa-clock"></i></span>
                      </div>
                    <input type="text" name="text" id="regime" placeholder="REGIME" class="form-control" value="<%= regime.year %>"> 
                  </div>
                  <span class="text-danger p-3 error" id="first" style="font-style: italic;"></span>
              </div>
              <div>
                 
              </div>
              </div>
                <div class="modal-footer">
                  
                  <button type="submit" class="btn btn-primary btn-md mb-3" id="loginBtn">Save</button>   
                </div>
              </form>
            </div>
          </div>
           <%# EDIT REGIME MODAL %>
      <div class="card card-cascade narrower z-depth-1 mb-5 mt-5">
          <%# Card image %>
          <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
            <div>
                 <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" data-toggle="modal" data-target="#edit"><i class="fas fa-pencil-alt mt-0"></i></button>
             
              <form class="inline" action="/regime/<%= regime.year %>/delete?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-outline-white btn-rounded btn-sm px-2" ><i class="fas fa-trash mt-0" ></i></button>
              </form>
            
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2 " data-toggle="modal" data-target="#add"><i class="fas fa-plus mt-0"></i></button>

            </div>
            <a data-toggle="collapse" href="#collapse<%= regime._id %>" aria-expanded="false" aria-controls="collapse6" class="white-text mx-3 collapsed"><%= regime.year %>  A.H
              <i class="fas p-2 fa-angle-up rotate-icon"></i>
            </a>
            <div>
            
            </div>

          </div>
          
           
        

          <%# /Card image %>

          <div class="px-4 collapse" id="collapse<%= regime._id %>"  role="tabpanel" aria-labelledby="heading6" data-parent="#accordionEx">

            <div class="table-responsive">
              <%# Table %>
              <table class="table table-hover mb-0">

                <%# Table head %>
                <thead>
                  <tr>
                    <th class="th-sm">Portfolio
                    </th>
                      <th class="th-sm">Name
                      </th>
                      <th class="th-sm">Department
                    </th>
                      <th class="th-sm">Level
                      </th>
                      <th class="th-sm">Hall
                      </th>
                      <th class="th-sm">Phone Number
                      </th>
                      <th class="th-sm">Year of admission
                      </th>
                      <th class="th-sm">Year of graduation
                      </th>
                      <th class="th-sm">Country of residence
                      </th>
                    
                  </tr>
                </thead>
                <%# Table head %>

                <%# Table body %>
                <tbody>
                  <tr>
                    						
                    <td> Ameer</td>
                    <td>Abdulqadir Alaka</td>
                    <td>Food tech</td>
                    <td>700</td>
                    <td>ATBH</td>
                    <td>+64212078088</td>
                    <td>-</td>
                    <td>-</td>
                    <td>New Zealand</td>
                  </tr>
                
                  <tfoot>
                    <th class="th-sm">Portfolio
                    </th>
                      <th class="th-sm">Name
                      </th>
                      <th class="th-sm">Department
                    </th>
                      <th class="th-sm">Level
                      </th>
                      <th class="th-sm">Hall
                      </th>
                      <th class="th-sm">Phone Number
                      </th>
                      <th class="th-sm">Year of admission
                      </th>
                      <th class="th-sm">Year of graduation
                      </th>
                      <th class="th-sm">Country of residence
                      </th>
                  </tfoot>
                </tbody>
                <%# Table body %>
              </table>
              <%# Table %>
            </div>

            <hr class="my-0">


          </div>
        </div>
          <% }) %>
        </div>
        <%# REGIME TABLE %> 
      </section>
