   

 <%- include('./partials/message.ejs') %> 


<%#  About MSSN %>
<div class="container"> 
  <section id="about" class="about mt-4 mb-3">

    <%#  Secion heading %>
    <h2 class="text-center mb-5 my-5 py-4 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">About
      MSSN</h2>

    <%#  First row%>
    <div class="row">

      <%#  First column%>
      <div class="col-lg-5 col-md-12 mb-5 wow fadeIn" data-wow-delay="0.4s">

        <%#  Image%>

        <img src="/img/akinyele 2.jpeg"
          class="img-fluid z-depth-1 rounded" alt="My photo" >

      </div>
      <%#  /First column%>

      <%#  Second column%>
      <div class="col-lg-6 ml-lg-auto col-md-12 wow fadeIn" data-wow-delay="0.4s">

        <%#  Title%>
        <h4 class="grey-text-2 mb-4">MSSN Akinyele</h4>

        <%#  Description%>
        <p class="grey-text-2" align="justify">  Muslim Students’ Society of Nigeria, Akinyele Area
          Council     
      </b> is one of the Area Councils under the MSSN
          Oyo State Area Unit. Her bounds extend throughout
          Akinyele Local Government and some parts of Ibadan
          North Local Government. With a secretariat of
          operation at 12, Ifelodun Street, Orogun, Ibadan, her
          major assignment is to see to the upbringing of
          Muslim students of secondary schools in the realms of
          academic, moral and most importantly, religion.</p>

        <a href="/about" class="btn btn-rounded btn-purple-2 black-text wow fadeIn" data-wow-delay="0.2s"><i
            class="fas fa-binoculars fa-1.4x mr-2"></i>Read more</a>

      </div>
      <%#  /Second column%>

    </div>
    <%#  /First row%>

  </section>
  <%#  /Section: About%>
</div>
<%#  About MSSN%>

<%#   NEWS %>
<div class="container">
       
          <%#   SECOND NEWS SECTION %>
    
          <section id="news" class="pt-2 mt-3 pb-3 section news-section">

            <h5 class="text-center dark-grey-text text-uppercase font-weight-bold spacing my-5 pt-2 pb-4 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
              <strong>LATEST NEWS</strong>
            </h5>
  
     
   
            <% let partNews = news.slice(0,6) %> 
            <!-- Grid row -->
            <div class="row">
              <% partNews.forEach(news => { %>
              <!-- Grid column -->
              <div class="col-md-6 col-lg-4">
    
                <!--Card-->
                <div class="card card-personal mb-4">
    
                  <!--Card image-->
                  <div class="view overlay">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <a>
                      <div class="mask rgba-white-slight waves-effect waves-light"></div>
                    </a>
                  </div>
                  <!--Card image-->
    
                  <!--Card content-->
                  <div class="card-body">
                    <!--Title-->
                    <a>
                      <h5 class="font-weight-bold text-uppercase">
                        <strong><%= news.title %> </strong>
                      </h5>
                    </a>
                    <a>
                      <span class="badge badge-info py-2 px-2"><%= news.category %> </span>
                    </a>
    
                    <!--Text-->
                    <p class="grey-text mt-2"><%= news.excerpt %> 
                      <!--Grid row-->
                      </p>
              
                    <hr>
                    <!--Grid column-->
                    <div class="col-12 text-center">
                      <a href="/news/<%=news.slug%>" class="btn btn-info btn-sm font-weight-bold btn-rounded waves-effect waves-light">
                        <strong>Read More...</strong>
                      </a>
                    </div>
                    <!--Grid column-->
    
                  </div>
                  <!--Card content-->
    
                </div>
                <!--Card-->
    
              </div>
              <!-- Grid column -->
              <% }) %>
            </div>
            <!-- Grid row -->
     
          </section> 
         <%#   SECOND NEWS SECTION %>

            <hr class="between-sections mt-4 mb-4" style="color: #333; background-color: #333; height: 1px;">
     
      
      <%#   Fifth section %>
</div>
<%#   NEWS %>
<%#  Streak%>
<div class="streak streak-photo streak-md"
style="background-image: url('/img/sample.jpg');">
<div class="flex-center mask rgba-purple-light">
  <div class="text-center white-text w-responsive  mb-5 pt-5">  
    <h5 class="text-center font-italic wow fadeIn" data-wow-delay="0.2s"><%# data.chapterTitle%> </h5>
    <p class=""></i> 
      <%# data.body%>
      <%#   HADEETH API %>
      </p>
  </div>
</div>
</div>
<%#  /Streak%>

    
     
      
 
  <hr class="between-sections mt-0 mb-4">
              

  <%#   CONTACT %>
  <div class="container">
    <section class="pb-3">
  
      <%#   Section heading %>
      <h2 class="h1-responsive font-weight-500 text-center mb-4 pb-1">Contact us</h2>
  
      <%#   Section description %>
      <p class="w-responsive mx-auto text-center mb-5 pb-lg-2 pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>
  
      <div class="row">
  
        <%#   Grid column %>
        <div class="col-lg-5 mb-lg-0 mb-4">
  
          <%#   Form with header %>
          <div class="card">
  
            <div class="card-body">
  
              <%#   Header %>
              <div class="form-header blue-gradient mb-4">
                <h3 class="my-3 font-weight-500"><i class="fas fa-envelope mr-2"></i>Write to us:</h3>
              </div>
  
              <p class="pt-2">We'll write rarely, but only the best content.</p>
  
              <%#   Body %>
              <div class="md-form">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="text" id="form-name" class="form-control">
                <label for="form-name">Your name</label>
              </div>
  
              <div class="md-form">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="text" id="form-email" class="form-control">
                <label for="form-email">Your email</label>
              </div>
  
              <div class="md-form">
                <i class="fas fa-tag prefix grey-text"></i>
                <input type="text" id="form-Subject" class="form-control">
                <label for="form-Subject">Subject</label>
              </div>
  
              <div class="md-form">
                <i class="fas fa-pencil-alt prefix grey-text"></i>
                <textarea type="text" id="form-text" class="md-textarea form-control" rows="3"></textarea>
                <label for="form-text" class="">Your message</label>
              </div>
  
              <div class="text-center">
                <button class="btn btn-primary btn-rounded waves-effect waves-light">Submit</button>
              </div>
  
            </div>
  
          </div>
          <%#   Form with header %>
  
        </div>
        <%#   Grid column %>
  
        <%#   Grid column %>
        <%#   <div class="col-lg-7"> %>
  
          <%#   Google map %>
          <div id="map-container-google-2" class="col-lg-7 mb-lg-0 mb-4 z-depth-1-half map-container" style="height: 500px; ">
            <iframe style="height: 100%; width: 100%;"  id="home_map" src="https://maps.google.com/maps?q=Orogun+Road&t=&z=15&ie=UTF8&iwloc=&output=embed"  style="border:0;" allowfullscreen="" ></iframe>
          </div>
  
          <%#   Buttons %>
          <div class="row text-center mt-4">
            <div class="col-md-4">
              <a class="btn-floating primary-color waves-effect waves-light"><i class="fas fa-map-marker-alt"></i></a>
              <p class="mb-1">Orogun</p>
              <p class="mb-md-0">Ibadan</p>
            </div>
  
            <div class="col-md-4">
              <a href="" class="btn-floating primary-color waves-effect waves-light"><i class="fas fa-phone"></i></a>
              <p class="mb-1">+2349064377766</p>n
              <p class="mb-md-0">Mon - Fri</p>
            </div>
  
            <div class="col-md-4">
              <a href="mailto://info@gmail.com" class="btn-floating primary-color waves-effect waves-light"><i class="fas fa-envelope"></i></a>
              <p class="mb-1">info@gmail.com</p>
              <p class="mb-0">sale@gmail.com</p>
            </div>
          </div>
  
        </div>
        <%#   Grid column %>
  
      </div>
  
    </section>
   </div>
   <%#   CONTACT %> 381