   

 <%- include('./partials/message.ejs') %> 


<%#  About MSSN %>
<div class="container"> 
  <section id="about" class="about mt-4 mb-3">

    <%#  Secion heading %>
    <h2 class="text-center mb-5 my-5 py-4 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">About
      MSSN</h2>

    <%#  First row%>
    <div class="row">

      <%#  First column%>
      <div class="col-lg-5 col-md-12 mb-5 wow fadeIn" data-wow-delay="0.4s">

        <%#  Image%>

        <img src="/img/akinyele 2.jpeg"
          class="img-fluid z-depth-1 rounded" alt="My photo" >

      </div>
      <%#  /First column%>

      <%#  Second column%>
      <div class="col-lg-6 ml-lg-auto col-md-12 wow fadeIn" data-wow-delay="0.4s">

        <%#  Title%>
        <h4 class="grey-text-2 mb-4">MSSN Akinyele</h4>

        <%#  Description%>
        <p class="grey-text-2" align="justify">  Muslim Students’ Society of Nigeria, Akinyele Area
          Council     
      </b> is one of the Area Councils under the MSSN
          Oyo State Area Unit. Her bounds extend throughout
          Akinyele Local Government and some parts of Ibadan
          North Local Government. With a secretariat of
          operation at 12, Ifelodun Street, Orogun, Ibadan, her
          major assignment is to see to the upbringing of
          Muslim students of secondary schools in the realms of
          academic, moral and most importantly, religion.</p>

        <a href="/about" class="btn btn-rounded btn-purple-2 black-text wow fadeIn" data-wow-delay="0.2s"><i
            class="fas fa-binoculars fa-1.4x mr-2"></i>Read more</a>

      </div>
      <%#  /Second column%>

    </div>
    <%#  /First row%>

  </section>
  <%#  /Section: About%>
</div>
<%#  About MSSN%>

<%#   NEWS %>
<div class="container">
      <section id="news" class="section news-section">
  
        <h2 class="pink-text text-uppercase font-weight-bold mb-2 pt-4 wow fadeIn" data-wow-delay=".2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">News &amp; updates</h2>
   
        <hr class="between-sections"> 
        <%#   FIRST NEWS SECTION%>
        <% let mssnnewses = mssnnews.slice(0,3) %>
        <section>
          <h5 class="text-center mb-5 mt-5 pt-4 font-weight-bold wow fadeIn"> <a href="/news/mssn">MSSN </a> </h5>
      
           <%#   Single news row %>
           <% mssnnewses.forEach(mssnnews => { %> 

            <div class="row mb-4">

              <%#   Grid column %>
              <div class="col-md-12">
                <%#   Card %>
                <div class="card">

                  <%#   Card image %>
                  <%#   <div class="view overlay">
                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(144).jpg" class="card-img-top" alt="">
                    <a>
                      <div class="mask rgba-white-slight waves-effect waves-light"></div>
                    </a>
                  </div> %>
                  <%#   Card image %>

                  <%#   Card content %>
                  <div class="card-body mx-4">
                    <%#   Title %>
                    <h4 class="card-title">
                      <strong><%= mssnnews.title %></strong>
                    </h4>
                    <hr>
                    <%#   Text %>
                    <p class="dark-grey-text mb-3"><%= mssnnews.excerpt %>
                      </p>
                    <p></p>
                    <p class="font-small font-weight-bold blue-grey-text mb-1">
                      <i class="far fa-clock-o"></i>  <%=mssnnews.created.toDateString() %>  </p>
                    <p class="font-small dark-grey-text mb-0 font-weight-bold"><%= mssnnews.author %></p>
                    <p class="text-right mb-0 text-uppercase dark-grey-text font-weight-bold">
                      <%let modifiedPost = mssnnews._id%>
                      <a href="/news/mssn/<%= modifiedPost %>">read more
                        <i class="fas fa-chevron-right" aria-hidden="true"></i>
                      </a>
                    </p>
                  </div>
                  <%#   Card content %>

                </div>
                <%#   Card %>

              </div>
              <%#   Grid column %>

            </div>
       
        <%})%>
  
        <%#   Single news row %>
        <hr class="between-sections mt-4 mb-4">
  
        </section> 
        <%#   FIRST NEWS SECTION%>
          <hr class="between-sections mt-4 mb-4" style="color: #333; background-color: #333; height: 1px;">
        
          <%#   SECOND NEWS SECTION %>
          <% let academicnewses = academicnews.slice(0,3) %>
          <section>
            <h5 class="text-center mb-5 mt-5 pt-4 font-weight-bold wow fadeIn"> <a href="/news/academics">ACADEMICS </a> </h5>
        
             <%#   Single news row %>
             <% academicnewses.forEach(academicnews => { %> 
              <div class="row mb-4">

                <%#   Grid column %>
                <div class="col-md-12">
                  <%#   Card %>
                  <div class="card">
  
                    <%#   Card image %>
                    <%#   <div class="view overlay">
                      <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(144).jpg" class="card-img-top" alt="">
                      <a>
                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                      </a>
                    </div> %>
                    <%#   Card image %>
  
                    <%#   Card content %>
                    <div class="card-body mx-4">
                      <%#   Title %>
                      <h4 class="card-title">
                        <strong><%= academicnews.title %></strong>
                      </h4>
                      <hr>
                      <%#   Text %>
                      <p class="dark-grey-text mb-3"><%= academicnews.excerpt %>
                        </p>
                      <p></p>
                      <p class="font-small font-weight-bold blue-grey-text mb-1">
                        <i class="far fa-clock-o"></i>  <%=academicnews.created.toDateString() %>  </p>
                      <p class="font-small dark-grey-text mb-0 font-weight-bold"><%= academicnews.author %></p>
                      <p class="text-right mb-0 text-uppercase dark-grey-text font-weight-bold">
                        <%let modifiedPost = academicnews._id%>
                        <a href="/news/academics/<%= modifiedPost %>">read more
                          <i class="fas fa-chevron-right" aria-hidden="true"></i>
                        </a>
                      </p>
                    </div>
                    <%#   Card content %>
  
                  </div>
                  <%#   Card %>
  
                </div>
                <%#   Grid column %>
  
              </div>
          <%})%>
    
          <%#   Single news row %>
          <hr class="between-sections mt-4 mb-4">
    
          </section> 
         <%#   SECOND NEWS SECTION %>

            <hr class="between-sections mt-4 mb-4" style="color: #333; background-color: #333; height: 1px;">
     
      <%#   THIRD NEWS SECTION %>
      <section>
        <h5 class="text-center mb-5 mt-5 pt-4 font-weight-bold wow fadeIn"> <a href="/news/scholarship">SCHOLARSHIP </a> </h5>
        <% let scholarshipnewses = scholarshipnews.slice(0,3) %>
         <%#   Single news row %>
         <% scholarshipnewses.forEach(scholarshipnews => { %> 
          <div class="row mb-4">

            <%#   Grid column %>
            <div class="col-md-12">
              <%#   Card %>
              <div class="card">

                <%#   Card image %>
                <%#   <div class="view overlay">
                  <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(144).jpg" class="card-img-top" alt="">
                  <a>
                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                  </a>
                </div> %>
                <%#   Card image %>

                <%#   Card content %>
                <div class="card-body mx-4">
                  <%#   Title %>
                  <h4 class="card-title">
                    <strong><%= scholarshipnews.title %></strong>
                  </h4>
                  <hr>
                  <%#   Text %>
                  <p class="dark-grey-text mb-3"><%= scholarshipnews.excerpt %>
                    </p>
                  <p></p>
                  <p class="font-small font-weight-bold blue-grey-text mb-1">
                    <i class="far fa-clock-o"></i>  <%=scholarshipnews.created.toDateString() %>  </p>
                  <p class="font-small dark-grey-text mb-0 font-weight-bold"><%= scholarshipnews.author %></p>
                  <p class="text-right mb-0 text-uppercase dark-grey-text font-weight-bold">
                    <%let modifiedPost = scholarshipnews._id%>
                    <a href="/news/scholarship/<%= modifiedPost %>">read more
                      <i class="fas fa-chevron-right" aria-hidden="true"></i>
                    </a>
                  </p>
                </div>
                <%#   Card content %>

              </div>
              <%#   Card %>

            </div>
            <%#   Grid column %>

          </div>
      <%})%>

      <%#   Single news row %>
      <hr class="between-sections mt-4 mb-4">

      </section> 
     <%#   THIRD NEWS SECTION %>
 
      </section>
      
      <%#   Fifth section %>
</div>
<%#   NEWS %>
<%#  Streak%>
<div class="streak streak-photo streak-md"
style="background-image: url('/img/sample.jpg');">
<div class="flex-center mask rgba-purple-light">
  <div class="text-center white-text w-responsive  mb-5 pt-5">  
    <h5 class="text-center font-italic wow fadeIn" data-wow-delay="0.2s"><%# data.chapterTitle%> </h5>
    <p class=""></i> 
      <%# data.body%>
      <%#   HADEETH API %>
      </p>
  </div>
</div>
</div>
<%#  /Streak%>

    
     
      
 
  <hr class="between-sections mt-0 mb-4">
              

  <%#   CONTACT %>
  <div class="container">
    <section class="pb-3">
  
      <%#   Section heading %>
      <h2 class="h1-responsive font-weight-500 text-center mb-4 pb-1">Contact us</h2>
  
      <%#   Section description %>
      <p class="w-responsive mx-auto text-center mb-5 pb-lg-2 pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>
  
      <div class="row">
  
        <%#   Grid column %>
        <div class="col-lg-5 mb-lg-0 mb-4">
  
          <%#   Form with header %>
          <div class="card">
  
            <div class="card-body">
  
              <%#   Header %>
              <div class="form-header blue-gradient mb-4">
                <h3 class="my-3 font-weight-500"><i class="fas fa-envelope mr-2"></i>Write to us:</h3>
              </div>
  
              <p class="pt-2">We'll write rarely, but only the best content.</p>
  
              <%#   Body %>
              <div class="md-form">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="text" id="form-name" class="form-control">
                <label for="form-name">Your name</label>
              </div>
  
              <div class="md-form">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="text" id="form-email" class="form-control">
                <label for="form-email">Your email</label>
              </div>
  
              <div class="md-form">
                <i class="fas fa-tag prefix grey-text"></i>
                <input type="text" id="form-Subject" class="form-control">
                <label for="form-Subject">Subject</label>
              </div>
  
              <div class="md-form">
                <i class="fas fa-pencil-alt prefix grey-text"></i>
                <textarea type="text" id="form-text" class="md-textarea form-control" rows="3"></textarea>
                <label for="form-text" class="">Your message</label>
              </div>
  
              <div class="text-center">
                <button class="btn btn-primary btn-rounded waves-effect waves-light">Submit</button>
              </div>
  
            </div>
  
          </div>
          <%#   Form with header %>
  
        </div>
        <%#   Grid column %>
  
        <%#   Grid column %>
        <%#   <div class="col-lg-7"> %>
  
          <%#   Google map %>
          <div id="map-container-google-2" class="col-lg-7 mb-lg-0 mb-4 z-depth-1-half map-container" style="height: 500px; ">
            <iframe style="height: 100%; width: 100%;"  id="home_map" src="https://maps.google.com/maps?q=Orogun+Road&t=&z=15&ie=UTF8&iwloc=&output=embed"  style="border:0;" allowfullscreen="" ></iframe>
          </div>
  
          <%#   Buttons %>
          <div class="row text-center mt-4">
            <div class="col-md-4">
              <a class="btn-floating primary-color waves-effect waves-light"><i class="fas fa-map-marker-alt"></i></a>
              <p class="mb-1">Orogun</p>
              <p class="mb-md-0">Ibadan</p>
            </div>
  
            <div class="col-md-4">
              <a href="" class="btn-floating primary-color waves-effect waves-light"><i class="fas fa-phone"></i></a>
              <p class="mb-1">+2349064377766</p>n
              <p class="mb-md-0">Mon - Fri</p>
            </div>
  
            <div class="col-md-4">
              <a href="mailto://info@gmail.com" class="btn-floating primary-color waves-effect waves-light"><i class="fas fa-envelope"></i></a>
              <p class="mb-1">info@gmail.com</p>
              <p class="mb-0">sale@gmail.com</p>
            </div>
          </div>
  
        </div>
        <%#   Grid column %>
  
      </div>
  
    </section>
   </div>
   <%#   CONTACT %>